:root{
    --amazon-orange: #cd9042;
    --dark-nav: #131921;
}
.remove-button{
    background-color: var(--amazon-orange);
    font-weight: 800;
    font-size:medium;
    padding: 0.3rem 0.6rem;
    margin:1rem;
    border: 1.5px solid;
    
}