*{

}
.checkout{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content: space-evenly;
    padding:20px;

    align-items: center;
}
.left-column{
    max-width:800px;
    width:-webkit-fill-available;
   
}
.right-column{
    min-width:100%;
    min-width:300px;
}
.sopping-basket-items{
    
}

.checkout-ad{
    width:100%;
    margin:0;
}
.basket-title{
   justify-content: right;
}
.basket-title{
    padding:10px;
    margin-right:10px;
    border-bottom: 2px solid lightgray;
}