:root{
    --amazon-orange: #cd9042;
    --dark-nav: #131921;
}
.link{
    color: white;
    text-decoration: none;
}
.header{
    min-height:60px;
    height:fit-content;
    margin-right: 0;
    padding:1rem 0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    position: sticky;
    align-items: center;
    top:0;
    background-color:var(--dark-nav);
    color:white;
    z-index:2;
}
.header-logo{
    width:100px;
    object-fit: contain;
    margin:15px 20px 0 ;
    position:static;
    
}
.header-nav{
    display:flex;
    justify-content: space-evenly;
}
.header-options{
    display: flex;
    flex-direction:column;
    margin-left:10px;
    margin-right: 10px;
}
.line1{
    font-size:12px;
}
.line2{
    font-size:16px;
    font-weight:800;
}
.header-cart{
    display:flex;
    align-items: center;
    margin: 10px;
}

.cart-count{
    margin: 0 10px;
}
.header-search{
    display:flex;
    flex: 1;
    align-items: center;
}
.search-bar{
    height: 18px;
    padding: 10px;
    border: none;
    width: 100%;
}
.search-icon{
    padding: 5px;
    height: 28px;
    background-color:var(--amazon-orange);
    margin-right: 10px;
}
