
.product{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    /* max-height: 400px; */
    /* min-height: fit-content; */
    width:100%;

    align-items: center;
    margin:15px;
    padding:25px;
    z-index: 1;
}
.product-info{
    margin-bottom:2px ;
}
.price{
    color:darkred;
    font-weight:bolder;
}
.product-image{
    max-height: 200px;
    width:100%;
    object-fit:contain;
    margin-bottom: 5px;
    margin-top: 20px;
}
.product-price{
    margin-top: 5px;
}
.add-button{
    font-size:medium;
    margin:1rem;

}